@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';

#resumeAvatarCont {
    background: transparent !important;
}

.socialMediaLinks {
    margin-right: 5px;
    height: max-content;
    padding: 0px !important;
}