@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';
body {
    // font-size: 13px;
    background-color: $mainBg;
    color: $mainDark;
    hyphens: auto;
}

.layoutHeader {
    background-color: $mainDark;
}
.avatarBgImage > .q-img__image {
    filter: grayscale(90%) saturate(100%);
}
// #mainDrawer,
#mainDrawer > .q-drawer {
    background: $mainBg;
}

#resumeAvatarCont {
    background: transparent !important;
}

.socialMediaLinks {
    margin-right: 5px;
    height: max-content;
    padding: 0px !important;
}

.referenceAvatar {
    font-size: 50px !important;
}

.referenceCard {
    margin: 5px 10px;
    width: 290px;
    display: flex;
    overflow: auto;
}


.referenceCard .q-btn {
    text-decoration: underline;
    text-transform: none;
    text-align: start;
    padding: 0;
}

h3.resumeSectionTitle {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 15px;
    border-bottom: 1px solid $mainDark;
    padding-bottom: 10px;
    padding-left: 10px;
}

#skillsCont h5 {
    display: block !important;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
    text-align: center;
}
.skillSect {
    padding: 0px 10px;
    border-right: 1px solid $dark;
}

@media (max-width: 400px) {
    .skillSect {
        border-right: none;
    }
    #mainDrawer > .q-drawer {
        background: #f1f2f6;
    }
    .referenceCard {
        width: 100%;
    }
}

.skillSect:last-of-type {
    border-right: none;
}

#htmlAvatar {
    background-color: $html;
}
#cssAvatar {
    background-color: #264de4;
}
#vueAvatar {
    background-color: #41B883;
}

#dockerAvatar {
    background-color: #0db7ed;
}
#mongoAvatar {
    background-color: #3FA037;
}
#expressAvatar {
    background-color: #F0DB4F;
}
#nodeAvatar {
    background-color: #3C873A;
}
#swiftAvatar {
    background-color: #fa5f2f;
}
#swiftUiAvatar {
    background-color: #064fb8;
}
#gitAvatar {
    background-color: #F1502F;
}
#azureAvatar {
    background-color: #00a1f1;
}

.volunteeringCard {
    width: 100%;
    max-width: 550px;
    text-align: justify;
    hyphens: auto;
}
.volunteeringCard .text-h5,
.interestTitle,
.q-timeline__title,
.skillSect h5 {
    font-size: 17px;
    font-weight: 500;
}
.volunteeringCard .volDesc,
.interestCaption,
.q-timeline__content {
    font-size: 14px;
    font-weight: 400;
}
.q-item--active.drawer-menu-link > .q-item__section {
    padding: 3px 10px;
    // color: $mainDark;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    border-radius: 5px;
    transition: padding ease 0.3s, color 0s, ease box-shadow 0.2s;
}

.q-item--active {
    color: $dark;
}

#introTxt {
    padding: 10px;
}

.q-timeline, .q-timeline__entry .q-timeline__content {
    text-align: justify;
    hyphens: auto;
}

.q-timeline__title {
    margin-bottom: 5px;
}