@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';
body {
    // font-size: 13px;
}

#resumeAvatarCont {
    background: transparent !important;
}

.socialMediaLinks {
    margin-right: 5px;
    height: max-content;
    padding: 0px !important;
}

.referenceAvatar {
    font-size: 50px !important;
}

.referenceCard {
    margin: 5px 10px;
    width: 290px;
    display: flex;
    overflow: auto;
}


.referenceCard .q-btn {
    text-decoration: underline;
    text-transform: none;
    text-align: start;
    padding: 0;
}

h3.resumeSectionTitle {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 15px;
    border-bottom: 1px solid $dark;
    padding-bottom: 10px;
}

#skillsCont h5 {
    display: block !important;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 600;
    text-align: center;
}
.skillSect {
    padding: 0px 10px;
    border-right: 1px solid $dark;
}
.skillSect:last-of-type {
    border-right: none;
}

#htmlAvatar {
    background-color: $html;
}
#cssAvatar {
    background-color: #264de4;
}
#vueAvatar {
    background-color: #41B883;
}

#dockerAvatar {
    background-color: #0db7ed;
}
#mongoAvatar {
    background-color: #3FA037;
}
#expressAvatar {
    background-color: #F0DB4F;
}
#nodeAvatar {
    background-color: #3C873A;
}
#swiftAvatar {
    background-color: #fa5f2f;
}
#swiftUiAvatar {
    background-color: #064fb8;
}
#gitAvatar {
    background-color: #F1502F;
}
#azureAvatar {
    background-color: #00a1f1;
}

.volunteeringCard {
    width: 100%;
    max-width: 550px;
    text-align: justify;
    hyphens: auto;
}